{% extends 'base.html' %}

{% block style %}
<style>
    li {
        display: inline-block;
        border: 1px solid blue;
        padding: 20px 30px;
    }

    a {
        text-decoration: none;
        color: rgb(16, 175, 122);
    }
</style>

{% endblock %}
{% block content %}
{# Подставляем содержимое файла inc-menu.html #}
{% include 'inc-menu.html' %}
<h2>Список товаров</h2>

<ol>
    {% for item in items %}
    <li>
        {# <a href='/item/{{ item.id }}'>{{ item.name }}</a> #}
        <a href="{% url 'item-detail' item.id %}">{{ item.name }}</a>
        <p>
            {{ item.descriptions }}
        </p>
    </li>
    {% endfor %}
</ol>

{% endblock %}